
html{
    font-family: monaco;
}
h1{
    margin-left: 40%;
}
li{
    border: 2px solid black;
    list-style-type: none;
    min-height: 35px;
}


.upperDiv{
    margin-top: 5%;
    margin-left: 30%;
}
.upperDiv input{
    font-size: 25px;
    border-radius: 7px;
    height: 15%;
    width: 40%;
    transition-duration: 1s;
}
.upperDiv input:hover{
    border: 4px solid black;
    border-radius: 15px;
}
.upperDiv button{
    font-size: 25px;
    height: 15%;
    width: 10%;

    border: 2px solid black;
    border-radius: 4px;

    color: white;
    background-color: rgb(66, 50, 135);

    transition-duration: 1s;
}
.upperDiv button:hover{
    color:rgb(66, 50, 135) ;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
}


.lowerDiv{
    margin-top: 2%;
    margin-left: 28%;
}

.lowerDiv li{
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    margin-right: 420px;
    margin-top: 10px;
    font-size: 25px;
   
}
.lowerDiv button{
    flex-shrink: 0;
    
    margin-left: 10px;

    font-size: 20px;
    height: 28px;
    width: 100px;

    border: 2px solid black;
    border-radius: 4px;

    color: white;
    background-color: rgb(66, 50, 135);

    transition-duration: 1s;
}

.lowerDiv button:hover{
    color:rgb(66, 50, 135) ;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
}
input[type=checkbox] {
    flex-shrink: 0;
    margin: 4px 0 0;
    margin-left: 20px;
    margin-right: 10px;
    line-height: normal;
    width: 20px;
    height: 20px;

}